{% include 'nav.html' %}
  {% load static %}
  
  <!-- Content
  ============================================= -->
  <br><br><div id="content">
    <div class="container">
      <div class="row"> 
        
        <!-- Middle Panel
        ============================================= -->
        <div class="col-lg-8 col-xl-9 mx-auto">
          <div class="blog-post card shadow-sm border-0 mb-4 p-4">
            <h2 class="title-blog text-7">{{post.title}}</h2>
            <ul class="meta-blog mb-4">
              <li><i class="fas fa-calendar-alt"></i>{{post.date}}</li>
              <li><a href=""><i class="fas fa-user"></i> Admin</a></li>
              <li><a href="#comments"><i class="fas fa-comments"></i> {{post.number_of_comments}}</a></li>
            </ul>
            <a href="#"><img class="img-fluid" src="{{post.get_thumbnail}}" alt=""></a>
            <div class="card-body px-0 pb-0">
              <p>{{post.content|safe}}</p>
            </div>
            <hr class="my-4">
            
            <!-- Tags & Share Social
            ================================= -->
            <div style="display: none;" class="row mb-2">
              <div class="col-lg-7 col-xl-8">
                <div class="tags text-center text-lg-start"> <a href="#">Tips</a> <a href="#">2021</a> <a href="#">Outsourcing</a> <a href="#">Design</a> <a href="#">Marketing</a> </div>
              </div>
              <div class="col-lg-5 col-xl-4">
                <div class="d-flex flex-column">
                  <ul class="social-icons social-icons-colored justify-content-center justify-content-lg-end">
                    <li class="social-icons-facebook"><a data-bs-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a data-bs-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-google"><a data-bs-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                    <li class="social-icons-linkedin"><a data-bs-toggle="tooltip" href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="social-icons-instagram"><a data-bs-toggle="tooltip" href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            
            <!-- Author
			================================= -->
            <div style="display: none;" class="row g-0 bg-light rounded p-4 mb-4 text-center text-sm-start">
              <div class="col-12 col-sm-auto me-4 mb-2 mb-sm-0"> <img class="rounded" src="images/blog/author.jpg" alt=""> </div>
              <div class="col-12 col-sm">
                <h4 class="title-blog text-4 mb-2"><a href="#">John Smith</a></h4>
                <p class="mb-2">Some quick example text to build on the card title and make up the bulk of the card's content to orem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing incididunt.</p>
                <div class="d-flex flex-column">
                  <ul class="social-icons social-icons-muted justify-content-center justify-content-sm-start ms-n2">
                    <li class="social-icons-twitter"><a data-bs-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-facebook"><a data-bs-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-linkedin"><a data-bs-toggle="tooltip" href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            
            <!-- Related Posts
            ================================= -->
            {% if related %}
              <h5 class="mb-4 mt-2">Related Posts</h5>
              <div class="side-post">
                <div class="row g-3">
                  {% for i in related %}
                    <div class="col-12 col-md-6">
                      <div class="item-post">
                        <div class="img-thumb"><a href="{% url 'post-detail' i.slug %}"><img class="rounded" style="width: 75px;" src="{{i.get_thumbnail}}" title="" alt=""></a></div>
                        <div class="caption"> <a href="{% url 'post-detail' i.slug %}">{{i.title}}</a>
                          <p class="date-post">{{i.date}}</p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
              </div>
              <hr class="my-4">
            {% endif %}
            
            <!-- Comments
			================================= -->
            <h5 id="comments" class="mb-4">Comments ({{post.number_of_comments}})</h5>
            <div class="post-comment">
              <ul>
                {% for i in post.get_comments %}
                  <li>
                    <div class="row">
                      <div class="col-auto pe-2"> <img class="rounded" alt="" src="images/blog/user-3.jpg"> </div>
                      <div class="col">
                        <h6> {{i.name}} <span class="text-muted text-2 fw-400 d-block d-sm-inline-block mt-2 mt-sm-0"><em>- {{i.date}}</em></span> </h6>
                        <p class="mb-0">{{i.content}}</p>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <hr class="my-4">
            <!-- Write a Comment
			================================= -->
            <h5 class="mb-4 mt-2">Write a Comment</h5>
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12 col-md-4 mb-4">
                  <label for="yourName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="yourName" name="name" required aria-describedby="yourName" placeholder="Your Name">
                </div>
                <div class="col-12 col-md-4 mb-4">
                  <label for="yourEmail" class="form-label">Email</label>
                  <input type="email" class="form-control" id="yourEmail" name="email" required aria-describedby="yourName" placeholder="Your Email">
                </div>
                <div class="col-12 col-md-4 mb-4">
                  <label for="yourWebsite" class="form-label">Website</label>
                  <input type="text" class="form-control" id="yourWebsite" name="website" aria-describedby="yourName" placeholder="Your Website">
                </div>
                <div class="col-12 mb-4">
                  <label for="yourComment" class="form-label">Your Comment</label>
                  <textarea class="form-control" rows="4" id="yourComment" name="comment" required placeholder="Your Comment"></textarea>
                </div>
                <div class="col-12 mb-4">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Middle Panel End --> 
        
        <!-- Right Sidebar
        ============================================= -->
        <aside class="col-lg-4 col-xl-3" style="display: none;"> 
          <!-- Search
		  =============================== -->
          <div class="input-group shadow-sm mb-4">
            <input class="form-control shadow-none border-0 pe-0" type="search" id="search-input" placeholder="Search" value="">
            <span class="input-group-text bg-white border-0 p-0">
              <button class="btn text-muted shadow-none px-3 border-0" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
          
          <!-- Categories
          =============================== -->
          <div class="bg-white shadow-sm rounded p-3 mb-4" style="display: none;">
            <h4 class="text-5 fw-400">Categories</h4>
            <hr class="mx-n3">
            <ul class="list-item">
              <li><a href="#">Industry Tips<span>(24)</span></a></li>
              <li><a href="#">Sales & Marketing<span>(14)</span></a></li>
              <li><a href="#">Enterprise Hub<span>(6)</span></a></li>
              <li><a href="#">Outsourcing<span>(8)</span></a></li>
              <li><a href="#">Finance & Management<span>(4)</span></a></li>
              <li><a href="#">IT & Programming<span>(10)</span></a></li>
              <li><a href="#">Design & Photography<span>(9)</span></a></li>
            </ul>
          </div>
          
          <!-- Recent Posts
          =============================== -->
          <div class="bg-white shadow-sm rounded p-3 mb-4" style="display: none;">
            <h4 class="text-5 fw-400">Recent Posts</h4>
            <hr class="mx-n3">
            <div class="side-post">
              <div class="item-post">
                <div class="img-thumb"><a href="blog-single.html"><img class="rounded" src="images/blog/post-2-65x65.jpg" title="" alt=""></a></div>
                <div class="caption"> <a href="blog-single.html">Pay Your Contractors, Employees Anywhere..</a>
                  <p class="date-post">April 24, 2021</p>
                </div>
              </div>
              <div class="item-post">
                <div class="img-thumb"><a href="blog-single.html"><img class="rounded" src="images/blog/post-1-65x65.jpg" title="" alt=""></a></div>
                <div class="caption"> <a href="blog-single.html">Financial Planning for Small and Medium...</a>
                  <p class="date-post">April 24, 2021</p>
                </div>
              </div>
              <div class="item-post">
                <div class="img-thumb"><a href="blog-single.html"><img class="rounded" src="images/blog/post-3-65x65.jpg" title="" alt=""></a></div>
                <div class="caption"> <a href="blog-single.html">Selling Profitably in New Markets Via...</a>
                  <p class="date-post">April 24, 2021</p>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Popular Tags
          =============================== -->
          <div class="bg-white shadow-sm rounded p-3 mb-4" style="display: none;">
            <h4 class="text-5 fw-400">Popular Tags</h4>
            <hr class="mx-n3">
            <div class="tags"> <a href="#">Industry</a> <a href="#">Tips</a> <a href="#">2021</a> <a href="#">IT</a> <a href="#">Outsourcing</a> <a href="#">Design</a> <a href="#">Enterprise</a> <a href="#">Marketing</a> </div>
          </div>
        </aside>
        <!-- Right Sidebar End --> 
        
      </div>
    </div>
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  {% include 'footer.html' %}
  <!-- Footer end --> 
  
</div>
<!-- Document Wrapper end --> 

<style>
  img {
    max-width: 100%;
    height: auto;
}
</style>

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Script --> 
{% include 'scripts.html' %}  
</body>
</html>