{% include 'nav.html' %}
  {% load static %}

<!-- Page Header
============================================= -->
<section class="page-header page-header-text-light bg-dark-3 py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <ul class="breadcrumb mb-0">
          <li><a href="index.html">Home</a></li>
          <li class="active">Contact Us</li>
        </ul>
      </div>
      <div class="col-12">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</section>
<!-- Page Header End --> 

<!-- Content
  ============================================= -->
<div id="content">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="bg-white shadow-md rounded h-100 p-3">
          <div class="featured-box text-center">
            <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-map-marker-alt"></i></div>
            <h3>SUCCYLOGLOBALFX Inc.</h3>
            <p>skandinavskiy bulvar, kommunarka, Russia
               </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-white shadow-md rounded h-100 p-3">
          <div class="featured-box text-center">
            <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-phone"></i> </div>
            <h3>Telephone</h3>
            <p class="mb-0">{{site_information.contact_number}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-white shadow-md rounded h-100 p-3">
          <div class="featured-box text-center">
            <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-envelope"></i> </div>
            <h3>Email</h3>
            <p>{{site_information.contact_email}}</p>
          </div>
        </div>
      </div>
    </div>
	<div class="text-center py-5">
          <h2 class="text-8">Reach us via socials</h2>
          <p class="lead">You can contact us directly by our socials below.</p>
          <div class="d-flex flex-column">
            <ul class="social-icons social-icons-lg social-icons-colored justify-content-center">
              <li class="social-icons-whatsapp"><a data-bs-toggle="tooltip" href="{{ site_information.whatsapp_link }}" target="_blank" title="Whatsapp"><i class="fab fa-whatsapp"></i></a></li>
              <li class="social-icons-facebook"><a data-bs-toggle="tooltip" href="{{ site_information.facebook_link }}" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li class="social-icons-twitter"><a data-bs-toggle="tooltip" href="{{ site_information.twitter_link }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
              <li class="social-icons-instagram"><a data-bs-toggle="tooltip" href="{{ site_information.instagram_link }}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
  </div>
  <section class="hero-wrap section shadow-md">
    <div class="hero-mask opacity-9 bg-primary"></div>
    <div class="hero-bg" style="background-image:url('images/bg/image-2.jpg');"></div>
    <div class="hero-content">
      <div class="container text-center">
        <h2 class="text-9 text-white">Awesome Customer Support</h2>
        <p class="text-4 text-white mb-4">Have you any query? Don't worry. We have great people ready to help you whenever you need it.</p>
        <a href="#" class="btn btn-light">Find out more</a> </div>
    </div>
  </section>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  {% include 'footer.html' %}
  <!-- Footer end --> 
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script --> 
{% include 'scripts.html' %}  
</div></body>
</html>