{% include 'nav.html' %}
  {% load static %}
  <!-- Content
  ============================================= -->
  <div id="content"> 
    
    <!-- Send Money
    ============================================= -->
    <section class="hero-wrap">
      <div class="hero-mask opacity-7 bg-dark"></div>
      <div class="hero-bg" style="background-image:url('{% static "btc.png" %}');"></div>
      <div class="hero-content d-flex flex-column fullscreen-with-header">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-lg-6 col-xl-7 my-auto text-center text-lg-start pb-5 pb-lg-0">
              <h2 class="text-17 text-white"><span class="fw-400 text-15">Send money effortlessly, </span> <br>
                hassle-free.</h2>
              <p class="text-4 text-white mb-4">Transfer funds with an improved exchange rate and steer clear of excessive bank fees.</p>
              
              <a hidden class="btn btn-outline-light video-btn" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-bs-toggle="modal" data-bs-target="#videoModal"><span class="text-2 me-3"><i class="fas fa-play"></i></span>See How it Works</a> </div>
            <div class="col-lg-6 col-xl-5 my-auto">
              <div class="bg-white rounded shadow-md p-4">
                <h3 class="text-5 mb-4 text-center">Send Money</h3>
                <hr class="mb-4 mx-n4">
                <form id="form-send-money" method="POST">
                  {% csrf_token %}
      
                  <div class="mb-3">
                    <label for="youSend" class="form-label"><b>You Send</b></label>
                    <div class="input-group">
                      <span class="input-group-text" id="send_symbol" style="max-width: 40px;"></span>
                      <input type="number" class="form-control" data-bv-field="youSend" name="amount" id="youSend" value="100" min="100" oninput="convertCurrency()" required placeholder="">
                      <span class="input-group-text p-0">
                        <select id="youSendCurrency" data-style="form-select bg-transparent border-0" name="from_currency" data-container="body" data-live-search="true" onchange="convertCurrency()" class="selectpicker form-control bg-transparent" required>
                          <optgroup label="Popular Currency" hidden>
                            <option data-icon="currency-flag currency-flag-usd me-1" data-subtext="United States dollar" value="">USD</option>
                            <option data-icon="currency-flag currency-flag-aud me-1" data-subtext="Australian dollar" value="">AUD</option>
                            <option data-icon="currency-flag currency-flag-inr me-1" data-subtext="Indian rupee" value="">INR</option>
                          </optgroup>
                          <option value="" data-divider="true">divider</option>
                          <optgroup label="Other Currency">
                            <option data-icon="currency-flag currency-flag-rub me-1" data-subtext="Russian rouble" selected value="Russian rouble">RUB</option>
                            <option data-icon="currency-flag currency-flag-ngn me-1" data-subtext="Nigerian naira" value="Nigerian naira">NGN</option>
                          <!-- <option data-icon="currency-flag currency-flag-aed me-1" data-subtext="United Arab Emirates dirham" value="">AED</option>
                          <option data-icon="currency-flag currency-flag-ars me-1" data-subtext="Argentine peso" value="">ARS</option>
                          <option data-icon="currency-flag currency-flag-aud me-1" data-subtext="Australian dollar" value="">AUD</option>
                          <option data-icon="currency-flag currency-flag-bdt me-1" data-subtext="Bangladeshi taka" value="">BDT</option>
                          <option data-icon="currency-flag currency-flag-bgn me-1" data-subtext="Bulgarian lev" value="">BGN</option>
                          <option data-icon="currency-flag currency-flag-brl me-1" data-subtext="Brazilian real" value="">BRL</option>
                          <option data-icon="currency-flag currency-flag-cad me-1" data-subtext="Canadian dollar" value="">CAD</option>
                          <option data-icon="currency-flag currency-flag-chf me-1" data-subtext="Swiss franc" value="">CHF</option>
                          <option data-icon="currency-flag currency-flag-clp me-1" data-subtext="Chilean peso" value="">CLP</option>
                          <option data-icon="currency-flag currency-flag-cny me-1" data-subtext="Chinese yuan" value="">CNY</option>
                          <option data-icon="currency-flag currency-flag-czk me-1" data-subtext="Czech koruna" value="">CZK</option>
                          <option data-icon="currency-flag currency-flag-dkk me-1" data-subtext="Danish krone" value="">DKK</option>
                          <option data-icon="currency-flag currency-flag-egp me-1" data-subtext="Egyptian pound" value="">EGP</option>
                          <option data-icon="currency-flag currency-flag-eur me-1" data-subtext="Euro" value="">EUR</option>
                          <option data-icon="currency-flag currency-flag-gbp me-1" data-subtext="British pound" value="">GBP</option>
                          <option data-icon="currency-flag currency-flag-gel me-1" data-subtext="Georgian lari" value="">GEL</option>
                          <option data-icon="currency-flag currency-flag-ghs me-1" data-subtext="Ghanaian cedi" value="">GHS</option>
                          <option data-icon="currency-flag currency-flag-hkd me-1" data-subtext="Hong Kong dollar" value="">HKD</option>
                          <option data-icon="currency-flag currency-flag-hrk me-1" data-subtext="Croatian kuna" value="">HRK</option>
                          <option data-icon="currency-flag currency-flag-huf me-1" data-subtext="Hungarian forint" value="">HUF</option>
                          <option data-icon="currency-flag currency-flag-idr me-1" data-subtext="Indonesian rupiah" value="">IDR</option>
                          <option data-icon="currency-flag currency-flag-ils me-1" data-subtext="Israeli shekel" value="">ILS</option>
                          <option data-icon="currency-flag currency-flag-inr me-1" data-subtext="Indian rupee" value="">INR</option>
                          <option data-icon="currency-flag currency-flag-jpy me-1" data-subtext="Japanese yen" value="">JPY</option>
                          <option data-icon="currency-flag currency-flag-kes me-1" data-subtext="Kenyan shilling" value="">KES</option>
                          <option data-icon="currency-flag currency-flag-krw me-1" data-subtext="South Korean won" value="">KRW</option>
                          <option data-icon="currency-flag currency-flag-lkr me-1" data-subtext="Sri Lankan rupee" value="">LKR</option>
                          <option data-icon="currency-flag currency-flag-mad me-1" data-subtext="Moroccan dirham" value="">MAD</option>
                          <option data-icon="currency-flag currency-flag-mxn me-1" data-subtext="Mexican peso" value="">MXN</option>
                          <option data-icon="currency-flag currency-flag-myr me-1" data-subtext="Malaysian ringgit" value="">MYR</option>
                          <option data-icon="currency-flag currency-flag-ngn me-1" data-subtext="Nigerian naira" value="">NGN</option>
                          <option data-icon="currency-flag currency-flag-nok me-1" data-subtext="Norwegian krone" value="">NOK</option>
                          <option data-icon="currency-flag currency-flag-npr me-1" data-subtext="Nepalese rupee" value="">NPR</option>
                          <option data-icon="currency-flag currency-flag-nzd me-1" data-subtext="New Zealand dollar" value="">NZD</option>
                          <option data-icon="currency-flag currency-flag-pen me-1" data-subtext="Peruvian nuevo sol" value="">PEN</option>
                          <option data-icon="currency-flag currency-flag-php me-1" data-subtext="Philippine peso" value="">PHP</option>
                          <option data-icon="currency-flag currency-flag-pkr me-1" data-subtext="Pakistani rupee" value="">PKR</option>
                          <option data-icon="currency-flag currency-flag-pln me-1" data-subtext="Polish złoty" value="">PLN</option>
                          <option data-icon="currency-flag currency-flag-ron me-1" data-subtext="Romanian leu" value="">RON</option>
                          <option data-icon="currency-flag currency-flag-rub me-1" data-subtext="Russian rouble" value="">RUB</option>
                          <option data-icon="currency-flag currency-flag-sek me-1" data-subtext="Swedish krona" value="">SEK</option>
                          <option data-icon="currency-flag currency-flag-sgd me-1" data-subtext="Singapore dollar" value="">SGD</option>
                          <option data-icon="currency-flag currency-flag-thb me-1" data-subtext="Thai baht" value="">THB</option>
                          <option data-icon="currency-flag currency-flag-try me-1" data-subtext="Turkish lira" value="">TRY</option>
                          <option data-icon="currency-flag currency-flag-uah me-1" data-subtext="Ukrainian hryvnia" value="">UAH</option>
                          <option data-icon="currency-flag currency-flag-ugx me-1" data-subtext="Ugandan shilling" value="">UGX</option>
                          <option data-icon="currency-flag currency-flag-vnd me-1" data-subtext="Vietnamese dong" value="">VND</option>
                          <option data-icon="currency-flag currency-flag-zar me-1" data-subtext="South African rand" value="">ZAR</option> -->
                          </optgroup>
                        </select>
                        </span>
                    </div>
                  </div>
    
                  <div class="mb-3">
                    <label for="recipientGets" class="form-label"><b>Recipient Gets</b></label>
                    <div class="input-group">
                      <span class="input-group-text" id="receive_symbol" style="max-width: 40px !important;"></span>
                      <input type="number" class="form-control" data-bv-field="recipientGets" name="converted_amount" id="recipientGets" min="{{naira_min}}" required  placeholder="">
                      <span class="input-group-text p-0">
                        <select id="recipientCurrency" data-style="form-select bg-transparent border-0" name="to_currency" data-container="body" onchange="convertCurrency()" data-live-search="true" class="selectpicker form-control bg-transparent" required>
                          <optgroup label="Popular Currency" hidden>
                          <option data-icon="currency-flag currency-flag-usd me-1" data-subtext="United States dollar" value="">USD</option>
                          <option data-icon="currency-flag currency-flag-aud me-1" data-subtext="Australian dollar" value="">AUD</option>
                          <option data-icon="currency-flag currency-flag-inr me-1" data-subtext="Indian rupee" value="">INR</option>
                          </optgroup>
                          <option value="" data-divider="true">divider</option>
                          <optgroup label="Other Currency">
                            <option data-icon="currency-flag currency-flag-rub me-1" data-subtext="Russian rouble" value="Russian rouble">RUB</option>
                            <option data-icon="currency-flag currency-flag-ngn me-1" data-subtext="Nigerian naira" selected value="Nigerian naira">NGN</option>
                          <!-- <option data-icon="currency-flag currency-flag-aed me-1" data-subtext="United Arab Emirates dirham" value="">AED</option>
                          <option data-icon="currency-flag currency-flag-ars me-1" data-subtext="Argentine peso" value="">ARS</option>
                          <option data-icon="currency-flag currency-flag-aud me-1" data-subtext="Australian dollar" value="">AUD</option>
                          <option data-icon="currency-flag currency-flag-bdt me-1" data-subtext="Bangladeshi taka" value="">BDT</option>
                          <option data-icon="currency-flag currency-flag-bgn me-1" data-subtext="Bulgarian lev" value="">BGN</option>
                          <option data-icon="currency-flag currency-flag-brl me-1" data-subtext="Brazilian real" value="">BRL</option>
                          <option data-icon="currency-flag currency-flag-cad me-1" data-subtext="Canadian dollar" value="">CAD</option>
                          <option data-icon="currency-flag currency-flag-chf me-1" data-subtext="Swiss franc" value="">CHF</option>
                          <option data-icon="currency-flag currency-flag-clp me-1" data-subtext="Chilean peso" value="">CLP</option>
                          <option data-icon="currency-flag currency-flag-cny me-1" data-subtext="Chinese yuan" value="">CNY</option>
                          <option data-icon="currency-flag currency-flag-czk me-1" data-subtext="Czech koruna" value="">CZK</option>
                          <option data-icon="currency-flag currency-flag-dkk me-1" data-subtext="Danish krone" value="">DKK</option>
                          <option data-icon="currency-flag currency-flag-egp me-1" data-subtext="Egyptian pound" value="">EGP</option>
                          <option data-icon="currency-flag currency-flag-eur me-1" data-subtext="Euro" value="">EUR</option>
                          <option data-icon="currency-flag currency-flag-gbp me-1" data-subtext="British pound" value="">GBP</option>
                          <option data-icon="currency-flag currency-flag-gel me-1" data-subtext="Georgian lari" value="">GEL</option>
                          <option data-icon="currency-flag currency-flag-ghs me-1" data-subtext="Ghanaian cedi" value="">GHS</option>
                          <option data-icon="currency-flag currency-flag-hkd me-1" data-subtext="Hong Kong dollar" value="">HKD</option>
                          <option data-icon="currency-flag currency-flag-hrk me-1" data-subtext="Croatian kuna" value="">HRK</option>
                          <option data-icon="currency-flag currency-flag-huf me-1" data-subtext="Hungarian forint" value="">HUF</option>
                          <option data-icon="currency-flag currency-flag-idr me-1" data-subtext="Indonesian rupiah" value="">IDR</option>
                          <option data-icon="currency-flag currency-flag-ils me-1" data-subtext="Israeli shekel" value="">ILS</option>
                          <option data-icon="currency-flag currency-flag-inr me-1" data-subtext="Indian rupee" value="">INR</option>
                          <option data-icon="currency-flag currency-flag-jpy me-1" data-subtext="Japanese yen" value="">JPY</option>
                          <option data-icon="currency-flag currency-flag-kes me-1" data-subtext="Kenyan shilling" value="">KES</option>
                          <option data-icon="currency-flag currency-flag-krw me-1" data-subtext="South Korean won" value="">KRW</option>
                          <option data-icon="currency-flag currency-flag-lkr me-1" data-subtext="Sri Lankan rupee" value="">LKR</option>
                          <option data-icon="currency-flag currency-flag-mad me-1" data-subtext="Moroccan dirham" value="">MAD</option>
                          <option data-icon="currency-flag currency-flag-mxn me-1" data-subtext="Mexican peso" value="">MXN</option>
                          <option data-icon="currency-flag currency-flag-myr me-1" data-subtext="Malaysian ringgit" value="">MYR</option>
                          <option data-icon="currency-flag currency-flag-ngn me-1" data-subtext="Nigerian naira" value="">NGN</option>
                          <option data-icon="currency-flag currency-flag-nok me-1" data-subtext="Norwegian krone" value="">NOK</option>
                          <option data-icon="currency-flag currency-flag-npr me-1" data-subtext="Nepalese rupee" value="">NPR</option>
                          <option data-icon="currency-flag currency-flag-nzd me-1" data-subtext="New Zealand dollar" value="">NZD</option>
                          <option data-icon="currency-flag currency-flag-pen me-1" data-subtext="Peruvian nuevo sol" value="">PEN</option>
                          <option data-icon="currency-flag currency-flag-php me-1" data-subtext="Philippine peso" value="">PHP</option>
                          <option data-icon="currency-flag currency-flag-pkr me-1" data-subtext="Pakistani rupee" value="">PKR</option>
                          <option data-icon="currency-flag currency-flag-pln me-1" data-subtext="Polish złoty" value="">PLN</option>
                          <option data-icon="currency-flag currency-flag-ron me-1" data-subtext="Romanian leu" value="">RON</option>
                          <option data-icon="currency-flag currency-flag-rub me-1" data-subtext="Russian rouble" value="">RUB</option>
                          <option data-icon="currency-flag currency-flag-sek me-1" data-subtext="Swedish krona" value="">SEK</option>
                          <option data-icon="currency-flag currency-flag-sgd me-1" data-subtext="Singapore dollar" value="">SGD</option>
                          <option data-icon="currency-flag currency-flag-thb me-1" data-subtext="Thai baht" value="">THB</option>
                          <option data-icon="currency-flag currency-flag-try me-1" data-subtext="Turkish lira" value="">TRY</option>
                          <option data-icon="currency-flag currency-flag-uah me-1" data-subtext="Ukrainian hryvnia" value="">UAH</option>
                          <option data-icon="currency-flag currency-flag-ugx me-1" data-subtext="Ugandan shilling" value="">UGX</option>
                          <option data-icon="currency-flag currency-flag-vnd me-1" data-subtext="Vietnamese dong" value="">VND</option>
                          <option data-icon="currency-flag currency-flag-zar me-1" data-subtext="South African rand" value="">ZAR</option> -->
                          </optgroup>
                        </select>
                        </span>
                    </div>
                  </div>
                  <p class="text-muted text-center"><b id="current_rate"></b></p>
                 
                  <!-- <hr>
                  <p>Total Fees<span class="float-end">7.21 USD</span></p> -->
                  <hr>
                  <p class="text-4 fw-500">Total To Pay<span class="float-end"><b id="total_pay"></b></span><span class="float-end">&nbsp;</span></p>
                  <div class="d-grid"><button type="submit" class="btn btn-primary">Continue</button></div>
                  <hr>
                  <p class="text-muted text-center"><b>Your money will arrive in 5 to 10 minutes</b></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Send Money End --> 
    
    <!-- How it works
    ============================================= -->
    <section class="section bg-white">
      <div class="container">
        <h2 class="text-9 text-center"> The simple way to send money</h2>
        <p class="lead text-center mb-5">The short steps reuired to send money.</p>
        <div class="row g-4">
          <div class="col-lg-4">
            <div class="featured-box style-3">
              <div class="featured-box-icon text-light"><span class="w-100 text-20 fw-500">1</span></div>
              <h3>Sign Up Your Account</h3>
              <p class="text-3">Sign up on our platform first, then log in to your account to perform transactions.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="featured-box style-3">
              <div class="featured-box-icon text-light"><span class="w-100 text-20 fw-500">2</span></div>
              <h3>Set Amount</h3>
              <p class="text-3">Select the amount, currency you are going to pay in, and what the currency you recipient will receive in. </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="featured-box style-3">
              <div class="featured-box-icon text-light"><span class="w-100 text-20 fw-500">3</span></div>
              <h3>Select Your Recipient</h3>
              <p class="text-3">Enter your recipient's account name, bank name, and other details that will be asked for. Next, review and complete transaction</p>
            </div>
          </div>
        </div>
        {% if not request.user.is_authenticated %}
        <div class="text-center mt-3"><a href="{% url 'register' %}" class="btn btn-outline-primary shadow-none text-uppercase">Sign up Now</a></div>
        {% endif %}
      </div>
    </section>
    <!-- How it works End --> 
    
    <!-- Why choose us
    ============================================= -->
    <section class="section">
      <div class="container">
        <h2 class="text-8 text-center">Why choose SUCCYLOGLOBALFX?</h2>
        <p class="lead text-center mb-5">Here’s Top 4 reasons why using a SUCCYLOGLOBALFX account for manage your money.</p>
        <div class="row gy-4">
          <div class="col-md-6">
            <div class="hero-wrap section h-100 p-5 rounded">
              <div class="hero-mask rounded opacity-6 bg-dark"></div>
              <div class="hero-bg rounded" style="background-image:url('{% static "why.jpeg" %}');"></div>
              <div class="hero-content">
                <h2 class="text-6 text-white mb-3">Why SUCCYLOGLOBALFX?</h2>
                <p class="text-light mb-5">We support the most secure services and features. This secured website supports a user-friendly interface and various attractive features that is ready to use.</p>
                <h2 class="text-6 text-white mb-3">Send Money with SUCCYLOGLOBALFX</h2>
                <p class="text-light">Select the amount, currency you are going to pay in, and what the currency you recipient will receive in.</p>
                <p class="text-light mb-0">Enter your recipient's account name, bank name, and other details that will be asked for. Next, review and complete transaction.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="featured-box style-1">
              <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
              <h3>24/7 Support</h3>
              <p>We are here for you. We provide 24/7 customer support through e-mail and our socials.</p>
            </div>
            <div class="featured-box style-1">
              <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
              <h3>Lower Fees</h3>
              <p>We make sure that you are able to send as much money as possible. We offer the best exchange rates possible here.</p>
            </div>
            <div class="featured-box style-1">
              <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
              <h3>Easy to Use</h3>
              <p>Our platform is super simple to use and accessibility is made easy for our users</p>
            </div>
            <div class="featured-box style-1">
              <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
              <h3>Faster Payments</h3>
              <p>We support fast transactions all over the world. With Succylo globalfx sending money is simple, quick, and hassle-free.</p>
            </div>
            <div class="featured-box style-1">
              <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
              <h3>100% secure</h3>
              <p>We value your money and your privacy. We have deployed the best systems to ensure that your money and your account is safe.</p>
            </div>
            <div class="featured-box style-1">
              <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
              <h3>Reliable</h3>
              <p>We are highly reliable and trusted by thousands of people. Your security is our top priority.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Why choose us End --> 
    
    <!-- How work
    ============================================= -->
    <section class="hero-wrap section shadow-md" style="display: none;">
      <div class="hero-mask opacity-9 bg-primary"></div>
      <div class="hero-bg" style="background-image:url('images/bg/image-1.jpg');"></div>
      <div class="hero-content my-3 my-lg-5">
        <div class="container text-center">
          <h2 class="text-10 text-white mb-4 mb-lg-5">How does send money work?</h2>
          <a class="video-btn d-inline-flex" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-bs-toggle="modal" data-bs-target="#videoModal"> <span class="playButton playButton-pulsing bg-white m-auto"><i class="fas fa-play"></i></span> </a> </div>
      </div>
    </section>
    <!-- How work End --> 
    
    <!-- Testimonial
    ============================================= -->
    <section class="section">
      <div class="container">
        <h2 class="text-8 text-center">What people say about SUCCYLOGLOBALFX</h2>
        <p class="lead text-center mb-4">A payments experience people love to talk about</p>
        <div class="row">
          <div class="col-lg-10 col-xl-8 mx-auto">
            <div class="owl-carousel owl-theme" data-autoplay="true" data-nav="true" data-loop="true" data-margin="30" data-stagepadding="5" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="1">
              {% for i in testimonials %}
                <div class="item">
                  <div class="testimonial rounded text-center p-4">
                    <p class="text-9 text-muted opacity-2 mb-2"><i class="fa fa-quote-left"></i></p>
                    <p class="text-4">"{{i.content}}”</p>
                    <strong class="d-block fw-500">{{i.name}}</strong> <span class="text-muted">{{i.job}}</span> </div>
                </div>
              {% endfor %}
            </div>
            <div hidden class="text-center mt-4"><a href="#" class="btn-link text-4">See more people review<i class="fas fa-chevron-right text-2 ms-2"></i></a></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial end --> 
    
    <!-- Frequently asked questions
    ============================================= -->
    <section class="section bg-white">
      <div class="container">
        <h2 class="text-9 text-center">Frequently Asked Questions</h2>
        <p class="lead text-center mb-4 mb-sm-5">Can't find it here? Reach out to us <a class="btn-link" href="{% url 'contact-us' %}">Here</a></p>
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">
            <hr class="mb-0">
            <div class="accordion accordion-flush arrow-end" id="popularTopics">
              {% for faq in faqs %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button {% if forloop.first %}collapsed{% else %}show{% endif %}" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapse{{ forloop.counter }}" 
                            aria-expanded="{% if forloop.first %}false{% else %}true{% endif %}" 
                            aria-controls="collapse{{ forloop.counter }}">
                      {{ faq.question }}
                    </button>
                  </h2>
                  <div id="collapse{{ forloop.counter }}" 
                       class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" 
                       aria-labelledby="heading{{ forloop.counter }}" 
                       data-bs-parent="#popularTopics">
                    <div class="accordion-body">
                      {{ faq.answer }}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            
            <hr class="mt-0">
          </div>
        </div>
        <div style="display: none;" class="text-center mt-4"><a href="#" class="btn-link text-4">See more FAQ<i class="fas fa-chevron-right text-2 ms-2"></i></a></div>
      </div>
    </section>
    <!-- Frequently asked questions end --> 
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  {% include 'footer.html' %}
  <!-- Footer end --> 
  
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Video Modal
============================================= -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-transparent border-0">
      <button type="button" class="btn-close btn-close-white ms-auto me-n3" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body p-0">
        <div class="ratio ratio-16x9">
          <iframe id="video" src="" allow="autoplay;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Modal end --> 



<!-- Script --> 
{% include 'scripts.html' %}
<script>
  // Django values rendered in the template
  const customRates = {
      "Nigerian naira": {{ naira }},
      "Russian rouble": {{ rouble }},
      // Add more rates as needed
  };

  function get_currency_symbol(currency){
    if(currency == "Russian rouble"){
      return "₽";
    } else {
      return "₦";
    }
  }

  function updateYouSendAmount() {
      const equivalentAmountSpan = document.getElementById('recipientGets');
      const amountInput = document.getElementById('youSend');
      const fromCurrencySelect = document.getElementById('youSendCurrency');
      const toCurrencySelect = document.getElementById('recipientCurrency');
      const currentRate = document.getElementById('current_rate');
      const totalPay = document.getElementById('total_pay');

      const equivalentAmount = parseFloat(equivalentAmountSpan.value.replace(/,/g, '')) || 0;
      const fromCurrency = fromCurrencySelect.value;
      const toCurrency = toCurrencySelect.value;

      if (fromCurrency && toCurrency) {
          const youSendAmount = (equivalentAmount / customRates[fromCurrency]).toFixed(2);

          // Remove commas from the parsed youSendAmount
          const amountWithoutCommas = youSendAmount.replace(/,/g, '');

          // Format the amount for display
          const formattedAmount = parseFloat(amountWithoutCommas)

          // Set the value in the You Send input
          amountInput.value = formattedAmount;

          const formattedAmount_ = parseFloat(amountWithoutCommas).toLocaleString(undefined, {
              minimumFractionDigits: 2,
              maximumFractionDigits: 2
          });

          // Update the totalPay element
          totalPay.innerHTML = `${get_currency_symbol(fromCurrency)} ${formattedAmount_}`;
      }
  }

  const recipientGetsInput = document.getElementById('recipientGets');
  recipientGetsInput.addEventListener('input', updateYouSendAmount);


  function convertCurrency() {
      const amountInput = document.getElementById('youSend');
      const fromCurrencySelect = document.getElementById('youSendCurrency');
      const toCurrencySelect = document.getElementById('recipientCurrency');
      const equivalentAmountSpan = document.getElementById('recipientGets');
      const currentRate = document.getElementById('current_rate');
      const totalPay = document.getElementById('total_pay');

      const amount = parseFloat(amountInput.value.replace(/,/g, '')) || 0;
      const formattedAmount = amount.toLocaleString();

      const fromCurrency = fromCurrencySelect.value;
      const toCurrency = toCurrencySelect.value;

      document.getElementById('send_symbol').innerHTML = get_currency_symbol(fromCurrency);
      document.getElementById('receive_symbol').innerHTML = get_currency_symbol(toCurrency)

      // Check if both "from" and "to" currencies are selected
      if (fromCurrency && toCurrency) {
          // Check if the user selected the same currency for both "from" and "to"
          if (fromCurrency === toCurrency) {
              // If the user selects the same currency for both "from" and "to"
              // Display the same amount in the "to" currency
              const formattedAmount = amount.toFixed(2).replace(/,/g, '');
              equivalentAmountSpan.value = formattedAmount;
              totalPay.innerHTML = `${get_currency_symbol(fromCurrency)} ${formattedAmount}`;
          } else {
              // Calculate equivalent amount using custom rates
              const equivalentAmount = (amount * customRates[fromCurrency]).toFixed(2);

              const amountWithoutCommas = equivalentAmount.replace(/,/g, '');
              const formattedEquivalentAmount = parseFloat(amountWithoutCommas).toLocaleString(undefined, {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 10
              });

              equivalentAmountSpan.value = equivalentAmount;  
              totalPay.innerHTML = `${get_currency_symbol(fromCurrency)} ${formattedAmount}`;
          }

          // Update the UI
          currentRate.innerHTML = `The current exchange rate is 1 ${get_currency_symbol(fromCurrency)} = ${customRates[fromCurrency]} ${get_currency_symbol(toCurrency)}`;
      }
  }


    const form = document.getElementById('form-send-money');  // Assuming your form has the ID 'form-send-money'
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      const amountInput = document.getElementById('youSend');
      const fromCurrencySelect = document.getElementById('youSendCurrency');
      const toCurrencySelect = document.getElementById('recipientCurrency');
      const equivalentAmountSpan = document.getElementById('recipientGets');
      const currentRate = document.getElementById('current_rate');

      const amount = parseFloat(amountInput.value) || 0;
      const fromCurrency = fromCurrencySelect.value;
      const toCurrency = toCurrencySelect.value;

      // Additional check to ensure the user has filled out the form
      if (!amount || !fromCurrency || !toCurrency) {
          // Display an error message or prevent form submission
          alert('Please fill out all fields before submitting the form.');
      } else if (fromCurrency === toCurrency) {
          // Display an error message if the same currency is selected for both "from" and "to"
          alert('Please select different currencies for "From" and "To".');
      } else {
          // Your further logic here, e.g., calculating equivalent amount, updating UI, etc.
          //form.submit();
          window.location.href = "{% url 'dashboard' %}"
      }
  });


  window.onload = function() {
        convertCurrency();
    };

</script>
</body>
</html>