<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
{% load static %}
<link href="{% static 'favicon.png' %}" rel="icon">
<title>SUCCYLOGLOBALFX - Secure and Suitable Currency Exchange Platform</title>
<meta name="description" content="This professional design html template is for build a Money Transfer and online payments website.">
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
============================================= -->
<link rel="stylesheet" href="../../../css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
<link id="color-switcher" rel="stylesheet" type="text/css" href="{% static 'css/color-blue.css' %}">
<!-- Stylesheet
============================================= -->
{% include 'styles.html' %}
<!-- Colors Css -->

</head>
<body>

<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper"> 
  
  <!-- Header
  ============================================= -->
  <header id="header">
    <div class="container">
      <div class="header-row">
        <div class="header-column justify-content-start"> 
          <!-- Logo
          ============================= -->
          <div class="logo me-3"> <a class="d-flex" href="{% url 'home' %}" title="SUCCYLOGLOBALFX - HTML Template"><img class="logo-img" src="{% static 'logo.png' %}" alt="SUCCYLOGLOBALFX"></a> </div>
          <!-- Logo end --> 
          <!-- Collapse Button
          ============================== -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-nav"> <span></span> <span></span> <span></span> </button>
          <!-- Collapse Button end --> 

          <style>
            .logo-img {
              max-width: 350px;  /* Default max-width for larger screens */
            }

            @media only screen and (max-width: 768px) {
              /* Adjust the max-width for screens with a width of 768 pixels or less (typical for mobile devices) */
              .logo-img {
                max-width: 250px;  /* You can adjust this value as needed for your design */
              }
            }

          </style>
          
          <!-- Primary Navigation
          ============================== -->
          <nav class="primary-menu navbar navbar-expand-lg">
            <div id="header-nav" class="collapse navbar-collapse">
              <ul class="navbar-nav me-auto">
                <li class=""><a href="{% url 'home' %}"><b>Home</b></a></li>
                {% if request.user.is_authenticated %}
                  <li><a href="{% url 'transactions' %}"><b>Transactions</b></a></li>
                  <li><a href="{% url 'recipients' %}"><b>Recipients</b></a></li>
                {% endif %}
                <li><a href="{% url 'about-us' %}"><b>About Us</b></a></li>
                <li><a href="{% url 'contact-us' %}"><b>Contact</b></a></li>
                <li><a href="{% url 'blog' %}"><b>Blog</b></a></li>
                {% if request.user.is_authenticated %}
                  <li><a href="{% url 'logout' %}"><b>Logout</b></a></li>
                {% endif %}
                <li><a href="{% url 'dashboard' %}" class="btn btn-primary" style="margin-top: 20px;"><b>Send Money</b></a></li>
              </ul>
            </div>
          </nav>
          <!-- Primary Navigation end --> 
        </div>
        <div class="header-column justify-content-end"> 
          <!-- Login & Signup Link
          ============================== -->
          <nav class="login-signup navbar navbar-expand">
            <ul class="navbar-nav">
              {% if not request.user.is_authenticated %}
              <li><a class="btn btn-primary" href="{% url 'login' %}"><b>Login</b></a> </li>
              <!-- <li class="align-items-center h-auto ms-sm-3"><a class="btn btn-primary" href="{% url 'register' %}"><b>Sign Up</b></a></li> -->
              {% endif %}
            </ul>
          </nav>
          <!-- Login & Signup Link end --> 
        </div>
      </div>
    </div>
  </header>
  <!-- Header End --> 