{% include 'nav.html' %}
  {% load static %} 
  
  <!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container"> 
      
      <!-- Steps Progress bar -->
      <div class="row mt-4 mb-5">
        <div class="col-lg-11 mx-auto">
          <div class="row widget-steps">
            <div class="col-4 step active">
              <div class="step-name">Details</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="#" class="step-dot"></a> </div>
            <div class="col-4 step disabled">
              <div class="step-name">Confirm</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="#" class="step-dot"></a> </div>
            <div class="col-4 step disabled">
              <div class="step-name">Success</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="#" class="step-dot"></a> </div>
          </div>
        </div>
      </div>
      <h2 class="fw-400 text-center mt-3">Send Money</h2>
      <p class="lead text-center mb-4">Slect or add recipient for this transfer.</p>
      <div class="row" id="select_receipient">
        <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
          <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
            <h3 class="text-5 fw-400 mb-3 mb-sm-4">Transfer Details</h3>
            <hr class="mx-n3 mx-sm-n5 mb-4">
            <!-- Send Money Form
            ============================ -->
            <form id="form-send-money" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="emailID" class="form-label">Select Recipient OR <a href="#" id="add_receipient_link">Create Recipient</a></label>
                <select data-style="form-select bg-transparent" name="selected_recipient" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent">
                  {% for i in recipients %}
                    <option value="{{i.id}}">{{i.account_name}}</option>
                  {% endfor %}
                  
                </select>
              </div>
             
              <p hidden class="text-muted text-center" id="current_rate">The current exchange rate is <span class="fw-500">1 USD = 1.42030 AUD</span></p>
              <!-- <hr>
              <p>Total Fees<span class="float-end">7.21 USD</span></p> -->
              <hr>
              <div class="d-grid"><button type="submit" class="btn btn-primary">Continue</button></div>
            </form>
            <!-- Send Money Form end --> 

          </div>
        </div>
      </div>

      <div class="row" id="add-recipient" style="display: none;">
        <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
          <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
            <h3 class="text-5 fw-400 mb-3 mb-sm-4">Recipient details <span id="cancle_add" style="float: right;color: #2dbe60;"> Cancel</span></h3>
            <hr class="mx-n3 mx-sm-n5 mb-4">
            <!-- Send Money Form
            ============================ -->
            <form id="addReceipient" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="fullName" class="form-label">Account Name</label>
                <input type="text" class="form-control" id="fullName" required name="account_name" placeholder="Enter Account Name">
              </div>
              <div class="mb-3">
                <label for="fullName" class="form-label">Bank Name</label>
                <input type="text" class="form-control" id="fullName" required name="bank_name" placeholder="Enter Bank Name">
              </div>
              {% if add_type == "naira" %}
                <div class="mb-3">
                  <label for="emailAddress" class="form-label">Account Number</label>
                  <input type="text" class="form-control" id="emailAddress" required name="account_number"" placeholder="Enter Account Number">
                </div>
              {% endif %}
              {% if add_type == "russia" %}
                <div class="mb-3">
                  <label for="emailAddress" class="form-label">Card Number</label>
                  <input type="text" class="form-control" id="cardNumber" name="card_number" placeholder="Enter Card Number (optional)">
                </div>
                <div class="mb-3">
                  <label for="emailAddress" class="form-label">Phone Number</label>
                  <input type="text" class="form-control" id="phoneNumber" name="phone_number"" placeholder="Enter Phone Number (optional)">
                </div>
              {% endif %}
              <p id="error-msg" style="color: firebrick;"></p>
              <div class="d-grid mt-4 mb-3"><button class="btn btn-primary" type="submit">Add Recipient</button></div>
            </form>
            <!-- Send Money Form end --> 

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  {% include 'footer.html' %}
  <!-- Footer end --> 
  
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Script --> 
{% include 'scripts.html' %}  
<script>
  document.getElementById('add_receipient_link').addEventListener('click', function(){
    document.getElementById('select_receipient').style.display = 'none';
    document.getElementById('add-recipient').style.display = 'block';
  })

  document.getElementById('cancle_add').addEventListener('click', function(){
    document.getElementById('select_receipient').style.display = 'block';
    document.getElementById('add-recipient').style.display = 'none';
  })

  // Assuming you have a form element with the ID 'yourForm'
  const form = document.getElementById('addReceipient');

  form.addEventListener('submit', function(event) {
      // Assuming you have two input fields with the IDs 'cardNumber' and 'phoneNumber'
      const cardNumberInput = document.getElementById('cardNumber');
      const phoneNumberInput = document.getElementById('phoneNumber');

      // Check if at least one of the fields is filled
      if (!cardNumberInput.value.trim() && !phoneNumberInput.value.trim()) {
          // Display an error message or prevent form submission
          document.getElementById('error-msg').innerHTML = 'Please fill out at least one of the fields (Card Number or Phone Number).';
          event.preventDefault(); // Prevent form submission
      }
      // else, continue with the form submission
  });


</script>
</body>
</html>