{% include 'nav.html' %}
  {% load static %}
  
  <!-- Content
  ============================================= -->
  <div id="content">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
          <div class="bg-white shadow-md rounded p-3 pt-sm-4 pb-sm-5 px-sm-5">
            <h3 class="fw-400 text-center mb-4">Password Reset Sent</h3>
            <hr class="mx-n3 mx-sm-n5">
              <p class="lead text-center">An password reset link has been sent to your email!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  {% include 'footer.html' %}
  <!-- Footer end --> 
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 



{% include 'scripts.html' %}  
</body>
</html>