{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/currency-flags/css/currency-flags.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">