{% include 'nav.html' %}
  {% load static %}
  {% load humanize %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
      <div class="row"> 
        
        <!-- Middle Panel
        ============================================= -->
        <div class="col-lg-9" style="width: 100%;"> 
          

          
          <!-- Recent Activity
          =============================== -->
          <div class="bg-white shadow-sm rounded py-4 mb-4" style="width: 100%;">
            <h3 class="text-5 fw-400 d-flex align-items-center px-4 mb-4">Recent Activity</h3>
            
            <!-- Title
            =============================== -->
            <div class="transaction-title py-2 px-4">
              <div class="row fw-00">
                <div class="col-2 col-sm-1 text-center"><span class="">Date</span></div>
                <div class="col col-sm-7">Recipient</div>
                <div class="col-auto col-sm-2 d-none d-sm-block text-center">Status</div>
                <div class="col-3 col-sm-2 text-end">Amount</div>
              </div>
            </div>
            <!-- Title End --> 
            
            <!-- Transaction List
            =============================== -->
            <div class="transaction-list">
              {% for i in transactions %}
                <div class="transaction-item px-4 py-3" data-bs-toggle="modal" data-bs-target="#transaction-detail" onclick='showDetails("{{i.amount|intcomma}}", "{% if i.from_currency == 'Russian rouble' %} ₽ {% else %} NGN {% endif %}", "{{i.current_exchange_rate}}", "{{i.converted_amount|intcomma}}", "{% if i.to_currency == 'Russian rouble' %} ₽ {% else %} NGN {% endif %}", "{{i.transaction_id}}", "{{i.receipient.user.get_full_name}}", "{{i.receipient.bank_name}}", "{{i.paid}}", "{{i.date}}", delete_url="{% url 'delete-transaction' i.transaction_id %}", {% if not i.has_receipient %} select_recipient_url="{% url 'select-recipient' i.transaction_id %}" {% endif %})'>
            
                  <div class="row align-items-center flex-row">
                    <div class="col-2 col-sm-1 text-center"> <span class="d-block text-4 fw-300">{{i.date|date:"F j"}}</span> <span class="d-block text-1 fw-300 text-uppercase">{{i.date|date:"Y"}}</span> </div>
                    <div class="col col-sm-7"> <span class="d-block text-4">{{i.receipient.bank_name}}</span> <span class="text-muted">{{i.receipient.account_name}}</span> </div>
                    <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3"> 
                      {% if i.paid == True %} 
                        <span class="text-success" data-bs-toggle="tooltip" title="" data-bs-original-title="Completed" aria-label="Completed">
                          <i class="fas fa-check-circle"></i>
                        </span> 
                      {% else %} 
                        
                          <span class="text-warning" data-bs-toggle="tooltip" title="" data-bs-original-title="In Progress" aria-label="In Progress"><i class="fas fa-ellipsis-h"></i>
                          </span> 
                        
                      {% endif %}
                    </div>
                    <div class="col-3 col-sm-2 text-end text-4"> <span class="text-nowrap"> {% if i.from_currency == 'Russian rouble' %} ₽ {% else %} NGN {% endif %}&nbsp; {{i.amount|intcomma}}</span> <span class="text-2 text-uppercase"></span> </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <!-- Transaction List End --> 
            
            <!-- Transaction Item Details Modal
            =========================================== -->
            <div id="transaction-detail" class="modal fade" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row g-0">
                      <div class="col-sm-5 d-flex justify-content-center bg-primary rounded-start py-4">
                        <div class="my-auto text-center">
                          <div class="text-17 text-white my-3"><i class="fas fa-building"></i></div>
                          <!-- <h3 class="text-4 text-white fw-400 my-3"></h3>
                          <div class="text-8 fw-500 text-white my-4" id="">$557.20</div> -->
                          <p class="text-white" id="transaction_date">15 March 2021</p>
                        </div>
                      </div>

                      <div class="col-sm-7">
                        <h5 class="text-5 fw-400 m-3">Transaction Details 
                          <button type="button" class="btn-close text-2 float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                        </h5>
                        
                        <a class="text-5 fw-400 m-3" href="#" id="select-recipient">Select Recipient</a>
                        <hr>
                        <div class="px-3">
                          <ul class="list-unstyled">
                            <li class="mb-2">Payment Amount <span class="float-end text-3" id="payment_amount">$562.00</span></li>
                            <li class="mb-2">Rate <span class="float-end text-3" id="rate">-$4.80</span></li>
                          </ul>
                          <hr class="mb-2">
                          <p class="d-flex align-items-center fw-500 mb-0">Recipient Amount <span class="text-3 ms-auto" id="recipient_amount">$557.20</span></p>
						              <hr class="mb-4 mt-2">
                          <ul class="list-unstyled">
                            <li class="fw-500">Exchange Type:</li>
                            <li class="text-muted" id="exchange_type">Envato Pty Ltd</li>
                          </ul>
                          <ul class="list-unstyled">
                            <li class="fw-500">Transaction ID:</li>
                            <li class="text-muted" id="transaction_id">26566689645685976589</li>
                          </ul>
                          <ul class="list-unstyled">
                            <li class="fw-500">Recipient:</li>
                            <li class="text-muted" id="recipient_name">Envato March 2021 Member Payment</li>
                            <li class="text-muted" id="recipient_bank_name">Envato March 2021 Member Payment</li>
                          </ul>
                          <ul class="list-unstyled">
                            <li class="fw-500">Status:</li>
                            <li class="text-muted" id="status">Completed<span class="text-success text-3 ms-1"><i class="fas fa-check-circle"></i></span></li>
                          </ul>
                        </div>
                        <a class="text-5 fw-400 m-3" href="#" style="float: right;" id="delete-url">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Transaction Item Details Modal End --> 
            
            <!-- View all Link
            =============================== -->
            <div hidden class="text-center mt-4"><a href="transactions.html" class="btn-link text-3">View all<i class="fas fa-chevron-right text-2 ms-2"></i></a></div>
            <!-- View all Link End --> 
            
          </div>
          <!-- Recent Activity End --> 
        </div>
        <!-- Middle Panel End --> 
      </div>
    </div>
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  
  <!-- Footer end --> 
  
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Styles Switcher -->
{% include 'footer.html' %}
<!-- Styles Switcher End --> 

<script>
  function showDetails(amount, currency, rate, recipient_amount, to_currency, id, name, bank_name, status, date, deleteUrl, selectRecipientUrl) {
    document.getElementById('payment_amount').innerHTML = `${currency} ${amount}`;
    document.getElementById('rate').innerHTML = `${currency} ${rate}`;
    document.getElementById('recipient_amount').innerHTML = `${to_currency} ${recipient_amount}`;
    document.getElementById('exchange_type').innerHTML = `${currency} -> ${to_currency}`;
    document.getElementById('transaction_id').innerHTML = `${id}`;
    document.getElementById('recipient_name').innerHTML = `${name}`;
    document.getElementById('recipient_bank_name').innerHTML = `${bank_name}`;
    document.getElementById('delete-url').href = deleteUrl;
    
    const selectRecipientLink = document.getElementById('select-recipient');

    if (selectRecipientUrl) {
      selectRecipientLink.style.display = 'block';
      selectRecipientLink.href = selectRecipientUrl;
    } else {
      selectRecipientLink.style.display = 'none';
    }

    document.getElementById('status').innerHTML = status === 'True' ? 'Paid' : 'Pending';
    document.getElementById('transaction_date').innerHTML = `${date}`;
  }
</script>


<!-- Script --> 
{% include 'scripts.html' %} 
</body>
</html>